<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    <strong>404 page We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript
      enabled.
      Please enable it to continue.</strong>
  </noscript>
  <script type="text/x-template" id="node-template">
    <div class="event-information-list">
      <!-- this refers to the value. If we have no value: don't create a list item for it-->
      {{#each hoverText}}
      {{#if this}}
      <div class="list-item">
        <div class="list-item-header">{{@key}}</div>
        <div class="list-item-content">{{this}}</div>
      </div>
      <hr class="divider"/>
      {{/if}}
       {{/each}}
    </div>
  </script>
  <div id="app"></div>

  <!-- built files will be auto injected -->
</body>

</html>